.page--5 {
    padding: 3rem;
    .book__image {
        position: relative;
        &::before {
            content: "";
            display: block;
            padding-top: 100%;
        }
    }
    .book__desc {
        margin-top: 1rem;
        font-size: 1.6rem;
    }
    .book__rating {
        margin-top: 2rem;
        padding-right: 2rem;
        border-right: 1px solid $color-border;
        .rating__desc {
            padding-bottom: 2rem;
            border-bottom: 1px solid $color-border;
            @include flex(flex-start, flex-start, wrap);
            .rating-icon {
                background-color: $color-white;
                margin-right: 0.5rem;
                i {
                    color: $color-10;
                }
            }
        }
    }
    .comment-title {
        font-size: 2rem;
        font-weight: 700;
        margin-top: 1rem;
    }
    .comment {
        @include flex();
        gap: 2rem;
        margin-top: 2rem;
        padding-bottom: 2rem;
        border-bottom: 1px solid $color-border;
        .user-avater {
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .comment__main {
            flex-grow: 1;
            width: calc(100% - 2rem - 4rem);
        }
        .comment__time {
            font-size: 1.6rem;
            opacity: 0.7;
            display: inline-block;
            margin-top: 0.5rem;
        }
        .comment__content {
            margin-top: 2rem;
        }
        .comment__loadmore {
            margin-top: 2rem;
            font-weight: 700;
            @include flex(center, space-between);
            gap: 2rem;
        }
    }
    .view__more {
        text-align: center;
        margin-top: 1rem;
        &-link {
            text-decoration: underline;
        }
    }
    .view__heading {
        position: relative;
        font-size: 2.4rem;
        font-weight: 700;
        display: inline-block;
        .view__time {
            position: absolute;
            left: 0;
            width: 100%;
            top: 101%;
            @include flex(center, space-between);
            opacity: 0.6;
            font-size: 1.4rem;
            font-weight: 400;
        }
    }
    .view__content-desc {
        margin-top: 6rem;
    }
    .page05__form-wraper {
        margin-top: 2rem;
        .form__post {
            @include flex(center, space-between);
            input {
                background-color: transparent;
                border: 0;
                border-bottom: 1px solid black;
            }
        }
        button {
            padding: 1rem 1.5rem;
            border-radius: 1rem;
            background-color: $color-03;
        }
        .form__buy {
            margin-top: 3rem;
            @include flex(center, space-around);
        }
    }
}