.page--6 {
    padding: 3rem 0;
    .search-input {
        background-color: $color-05;
        padding: 1rem;
        border: 0;
        outline: none;
    }   
    .content__main {
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        .content {
            padding: 2rem;
            background-color: $color-white;
            border: 1px solid black;
            @include flex();
            @include for-size (739) {
                flex-direction: column;
            }
            gap: 2rem;
            .content__image {
                padding-top: 2rem;
                width: 13rem;
                object-fit: cover;
            }
            .content__text {
                flex: 1;
                .content__desc {
                    margin-top: 1rem;
                    padding-left: 1rem;
                }
                .content__continue {
                    font-weight: 700;
                    color: $color-link;
                }
            }
            .content__sp {
                @include flex(center, space-between, wrap);
                gap: 2rem;
                margin-top: 3rem;
                padding-left: 1rem;
                .content__sp-text {
                    font-weight: 700;
                    color: $color-06;
                    @include flex(center, center, wrap);
                    gap: 1rem 3rem;
                }
            }
            .content__sp-control {
                @include flex(center, center, wrap);
                gap: 1rem;
            }
        }
    }
<<<<<<< HEAD
    .pagination {
        margin-top: 5rem;
        text-align: center;
    }
    .pagination__list {
        margin: 0 auto;
        padding: 0.5rem;
        display: inline-flex;
        gap: 0 0.5rem;
        font-size: 1.2rem;
        background-color: $color-background-white;
        .pagination__arrow {
            width: 2rem;
            height: 2rem;
            @include flex(center, center);
            border-radius: 50%;
            color: $color-gray-50;
            border: 1px solid $color-gray-50;
            cursor: pointer;
        }
        .pagination__arrow-next {
            color: black;
            border-color: black;
        }
        .pagination-link {
            width: 2rem;
            height: 2rem;
            @include flex(center, center);
            border: 1px solid $color-gray-37;
        }
        .pagination-link.active {
            background-color: $color-gray-37;
        }
=======
}

// PAGE--23 
.page--23 {
    .btn--2 {
        background-color: $color-05 !important;
        color: $color-text !important;
>>>>>>> 84ca3eec74fa6b4a68d533160cf9cece8c8d1513
    }
}