.page--13 {
    padding: 5rem 0;
    text-align: center;
    .content__wraper {
        padding: 0 2rem;
        border-left: 1px solid $color-border;
    }
    .form__content {
        display: inline-block;
        margin-top: 2rem;
        text-align: left;
        label {
            display: inline-block;
        }
        button {
            width: 100%;
            margin-top: 4rem;
            padding: 1rem 4rem;
            border: 1px solid black;
            background-color: $color-white;
        }
        input {
            @include for-size (739) {
                width: 4rem;
            }
        }
    }
    p {
        margin-top: 4rem;
        font-size: 2rem;
        color: $color-07;
    }
}