$color-err: #ff0000bd;
$color-success: green;

$color-text: #000000;
$color-border: rgba(0, 0, 0, 0.3);
$color-gray-50: rgba(0, 0, 0, 0.5);
$color-gray-37: rgba(0, 0, 0, 0.37);
$color-background-white: #FFFFFF ;
$color-gray: #414141;
$color-white : #fff;
$color-background: #FEFEC5 ;

$box-shadow: 0px 20px 24px -5px rgba(245, 56, 56, 0.35);
$color-link:  rgba(6, 19, 135, 0.76);

$color-01: #C0DDF9;
$color-02: #F8D9CC;
$color-03:#4399C9;
$color-04: #A3CB38;
$color-05:#C4C4C4;
$color-06: #F25A5A;
$color-07 : #278E03;

$color-08:  rgba(243, 131, 95, 0.92);
$color-09:  #ccc;
$color-10: yellow;



